$primary-font-fam: "Roboto", sans-serif;
$secondary-font-fam: "Montserrat", sans-serif;

$skoda-color: #7bb869;
$skoda-white: rgb(216, 216, 216);
$primary-color: rgb(180, 131, 24);
$secondary-color: rgb(199, 157, 180);