@import "variables";


body, html {
    height: 100%;
    font-family: $secondary-font-fam;
}

* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 13vh;
    position: fixed;
    overflow: hidden;
    padding-left: 1vw;
    padding-top: 2vh;
    z-index: 11;
}

.navbar {
    width: 7vw;
    position: fixed;
    overflow: hidden;
    padding-left: 1.5vw;
    padding-top: 17vh;
    display: flex;
    
    flex-direction: column;
    z-index: 11;
    a {
        cursor: pointer;
        text-decoration: none;
        text-align: left;
        margin-bottom: 2vh;
        font-size: 15px;
        font-weight: 500;
        color: black;
         font-weight: 800;
        font-family: $secondary-font-fam;
        transition: all 0.1s ease-in-out;
      }
      
      a:hover {
        //transform: translateX(10px) ;
       // padding-top:10px;
        //padding-bottom: 10px;
        color: #fff;
      } 
}


.landing {
    position: relative;
    height: 100vh;
    background: linear-gradient($skoda-white 0%, $skoda-white 58%, $skoda-color 58%);

  

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        margin-left: -35%;
        margin-top: -22%;
    }

    h1 {
        font-size: 20vh;
        position: absolute;
        bottom: 55%;
        margin:0;
        text-align: center;
        width: 100%;
        color: $skoda-color;
    }

    h2 {
        position: absolute;
        font-size: 6vh;
        text-align: center;
        bottom: 3%;
        margin:0;
        width: 100%;
    }
}


.description {
    height: 100vh;
    background-color: $skoda-color;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        width: 700px;
        bottom: 0;
        left: 50%;
        margin-left: -350px;
        z-index: 100;
    }

    button {
        opacity: 0;
        font-size: 18px;
        font-weight: 800;
        color: #000;
        border: 4px solid #000;
        background-color: transparent   ;
        position: absolute;
        bottom: 20%;
        left: 50%;
        width: 170px;
        margin-left: -85px;

        &:hover {
            color: #fff;
            border: 4px solid#fff;
        }
    }

    h3 {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    h2 {
        position: absolute;
        font-size: 10vh;
        text-align: center;
        top: 30%;
        margin:0;
        width: 100%;
    }

    h1 {
        color: $skoda-white;
        position: absolute;
        font-size: 25vh;
        text-align: center;
        top: 30%;
        margin:0;
        width: 100%;  
    }
}



.landing-div {

    background-image: url(../images/twoSkodaNature.jpg);  
    height: 100vh;
    background-size: cover;
    background-position: center;
   
    h1 {
        position: absolute;
        right:1vw;
        bottom:0vh;
        padding: 0;
        margin:0;
        font-size: 14vh;
        line-height: 10vh;
        font-weight:900 ;
        text-align: right;
        color: $skoda-white;
    }


}

.section {
    background-color: $skoda-white;
    //background-image: linear-gradient(black,#272B34);
    height: auto;

    p {
        margin: 0;
        color: $skoda-color;
        padding: 150px;
        padding-left: 250px;
        padding-right: 250px;
        font-size: 18px;
        text-align: center;
    }

    img {
        width: 100%;
    }
}

.green-div {
    height: 150vh;
    background-color: $skoda-color;
}

.seperator {
    height: 15vh;
    background-color: $skoda-white;
}

.white-div {
    position: relative;
    height: 150vh;
    background-color: $skoda-white;

    h1 {
        font-size: 20vh;
        position: absolute;
        bottom: 0vh;
        margin:0;
        text-align: center;
        width: 100%;
        color: $skoda-color;
    }

    img {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    h2 {
        font-size: 6vh;
        text-align: center;
    }

    p {
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
        margin-bottom: 53px;
    }
}

.octavia-side {
    background-image: url(../images/octaviaSide2.jpg);  
    height: 100vh;
    background-size: cover;
    background-position: bottom;

    h1 {
        color: $skoda-white
    }

}


.models {
    height: 100vh;
    background-image: url(../images/fabia.jpg);
    background-size: cover;
    width: 90%;
    float: right;

    .title-scala {
        position: absolute;
        bottom: 1%;
        right: 1%;
    }

    h1 {
        color: #fff;
        font-size: 13vh;
        line-height: 10vh;
    }

    h3 {
        color: $skoda-white;
        font-size: 4vh;
        font-weight: 500;
    }



    button {
        cursor: pointer;
        z-index: 101;
        font-size: 18px;
        font-weight: 800;
        color: #000;
        border: 4px solid #000;
        background-color: transparent   ;
        position: absolute;
        bottom: 22px;
        left: 16px;
        width: 160px;

        &:hover {
            color: #fff;
            border: 4px solid#fff;
        }

    }
}

.side-bar2 {
    position: absolute;
    left: -10%;
    width: 100%;
    height: 100vh;
    background-color: #7bb869;
    transform: skew(20deg);
    background: linear-gradient(to right, $skoda-color 0%, $skoda-color 30%, $skoda-white 30%);
}

.side-bar {
    z-index: 9;
    position: absolute;
    left: -10%;
    width: 100%;
    height: 100vh;
    background-color: #7bb869;
    transform: skew(20deg);
    background: linear-gradient(to right, $skoda-color 0%, $skoda-color 30%, transparent 30%);


}