body, html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  height: 13vh;
  position: fixed;
  overflow: hidden;
  padding-left: 1vw;
  padding-top: 2vh;
  z-index: 11;
}

.navbar {
  width: 7vw;
  position: fixed;
  overflow: hidden;
  padding-left: 1.5vw;
  padding-top: 17vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 11;
}

.navbar a {
  text-decoration: none;
  text-align: left;
  margin-bottom: 2vh;
  font-size: 15px;
  font-weight: 500;
  color: black;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  padding-bottom: 10px;
}

.landing {
  position: relative;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#d8d8d8), color-stop(58%, #d8d8d8), color-stop(58%, #7bb869));
  background: linear-gradient(#d8d8d8 0%, #d8d8d8 58%, #7bb869 58%);
}

.landing img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  margin-left: -35%;
  margin-top: -22%;
}

.landing h1 {
  font-size: 20vh;
  position: absolute;
  bottom: 55%;
  margin: 0;
  text-align: center;
  width: 100%;
  color: #7bb869;
}

.landing h2 {
  position: absolute;
  font-size: 6vh;
  text-align: center;
  bottom: 3%;
  margin: 0;
  width: 100%;
}

.description {
  height: 100vh;
  background-color: #7bb869;
  position: relative;
  overflow: hidden;
}

.description img {
  position: absolute;
  width: 700px;
  bottom: 0;
  left: 50%;
  margin-left: -350px;
}

.description h3 {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.description h2 {
  position: absolute;
  font-size: 10vh;
  text-align: center;
  top: 30%;
  margin: 0;
  width: 100%;
}

.description h1 {
  color: #d8d8d8;
  position: absolute;
  font-size: 25vh;
  text-align: center;
  top: 30%;
  margin: 0;
  width: 100%;
}

.landing-div {
  background-image: url(../images/twoSkodaNature.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.landing-div h1 {
  position: absolute;
  right: 1vw;
  bottom: 0vh;
  padding: 0;
  margin: 0;
  font-size: 14vh;
  line-height: 10vh;
  font-weight: 900;
  text-align: right;
  color: #d8d8d8;
}

.section {
  background-color: #d8d8d8;
  height: auto;
}

.section p {
  margin: 0;
  color: #7bb869;
  padding: 150px;
  padding-left: 250px;
  padding-right: 250px;
  font-size: 18px;
  text-align: center;
}

.section img {
  width: 100%;
}

.green-div {
  height: 150vh;
  background-color: #7bb869;
}

.seperator {
  height: 15vh;
  background-color: #d8d8d8;
}

.white-div {
  position: relative;
  height: 150vh;
  background-color: #d8d8d8;
}

.white-div h1 {
  font-size: 20vh;
  position: absolute;
  bottom: 0vh;
  margin: 0;
  text-align: center;
  width: 100%;
  color: #7bb869;
}

.white-div img {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.white-div h2 {
  font-size: 6vh;
  text-align: center;
}

.white-div p {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  margin-bottom: 53px;
}

.octavia-side {
  background-image: url(../images/octaviaSide2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}

.octavia-side h1 {
  color: #d8d8d8;
}
/*# sourceMappingURL=style.css.map */